---
import CardComunity from "../../components/CardComunity.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Tuna-Awainan: Comunidad">

    <div>
        <CardComunity name={"Foro de discusión"} 
                    img={"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUzoEL0gR8B9SxoO4pp1lHEpETHJLjus0-8Q&s" }
                    content={"¿Te apasiona el hablar sobre el Agua? ¡Únete a nuestra comunidad en línea y comparte tus conocimientos y opiniones con otros entusiastas!"}
                    index={'comunity/forum'}/>
        
        <CardComunity name="Publicaciones" 
                    img="https://manija.com.ar/wp-content/uploads/2020/12/posteohecho.png" 
                    content="¿Tienes algo que aportar? ¡Comparte tus experiencias y conocimientos con nuestra comunidad! Tus ideas son valiosas y pueden inspirar a otros. ¡Anímate a publicar!"
                    index={'comunity/posters'}/>
    </div>
</Layout>

<style>
    div{
        margin:auto;
        display:grid;
        grid-template-columns: 45% 45%;
        grid-template-rows: 60%;
        margin:80px 60px
    }
    CardComunity{
        margin:20px;
    }
</style>
