<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Contenedor principal con diseño de cuadrícula -->
    <div class="cont" style="display: grid; grid-template-columns: 20% 60% 20%; grid-template-rows: 100vh;">
        <!-- Primera columna con fondo de color -->
        <div style="background-color: #0cc0df;width: 100%; height:100%"></div>
        
        <!-- Columna central con mensaje de error -->
        <div style="font-size:50px; color:rgb(105, 105, 105); text-align: center; padding-top: 30%; width: 100%; height:100%">
            <h1>ERROR DE CARGA</h1>
            <!-- Enlace para volver a la página principal -->
            <a style="font-size: 20px; color:#0cc0df" href="/">volver</a>
        </div>
        
        <!-- Tercera columna con fondo de color -->
        <div style="background-color: #0cc0df;width: 100%; height:100%"></div>
    </div>
</body>
</html>