---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tuna-Awainan-Nosotros">
    <div class="grid grid-cols-1 xl:grid-cols-2">
        <!-- Contenedor principal con una cuadrícula de una columna en pantallas pequeñas y dos columnas en pantallas extra grandes -->
        <div class="flex flex-col gap-4 items-center justify-center h-screen">
            <!-- Contenedor flexible con dirección de columna, espacio entre elementos, centrado y altura de pantalla completa -->
            <h1
                class="text-5xl leading-tight text-center font-extrabold text-[#0cc0df]"
            >
                SOBRE TUNA <br />AWAINAN
                <hr>
            </h1>
            <!-- Título principal con estilo de texto grande, negrita y color personalizado -->
            <div style="text-align: justify; " class="font-semibold px-20">
                <!-- Contenedor de texto con fuente seminegrita y padding horizontal -->
                Somos un proyecto dedicado a promover la cultura del agua
                . Buscamos generar conciencia 
                sobre la importancia del agua como recurso 
                vital y fomentar prácticas sostenibles, con el objetivo de que 
                la población conozca la necesida de hacer un uso reponsable del agua.
                
                <span class="text-[#0cc0df]"> Tuna Awainan </span>es un término en pemón. Significa agua clara. 
                Los pemones son un pueblo muy cercano al agua que habita en la región guayana. 
                <hr class="my-4 border-t-2 border-gray-300 w-full invisible">
                Esta región es también uno de los territorios más ricos en agua dulce de toda Venezuela, 
                recorrida por numerosos ríos, entre los que destacan 
                Bajo Orinoco, con su principal afluente el Caroní.
                A pesar de esto, apenas
                un 21% de los hogares de Bolívar cuenta con servicio de agua
                constante. 
                </span>
            </div>
        </div>
        <img
        src="https://static.dw.com/image/65075042_906.jpg"
        class="h-full w-full object-cover"
    />
    </div>
    
</Layout>

<style></style>
