---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tuna-Awainan-Nosotros">
    <div class="grid grid-cols-1 xl:grid-cols-2">
        <!-- Contenedor principal con una cuadrícula de una columna en pantallas pequeñas y dos columnas en pantallas extra grandes -->
        <div class="flex flex-col gap-4 items-center justify-center h-screen">
            <!-- Contenedor flexible con dirección de columna, espacio entre elementos, centrado y altura de pantalla completa -->
            <h1
                class="text-5xl leading-tight text-left font-extrabold text-[#0cc0df]"
            >
                SOBRE TUNA <br />AWAINAN
                <hr>
            </h1>
            <!-- Título principal con estilo de texto grande, negrita y color personalizado -->
            <div class="font-semibold px-20">
                <!-- Contenedor de texto con fuente seminegrita y padding horizontal -->
                <span class="text-[#0cc0df]"> Tuna awainan </span>
                <span> es un término en pemón. Significa </span>

                <span class="text-[#0cc0df]"> agua clara </span>. Los pemones
                son un pueblo muy cercano al agua. El estado Bolívar, hogar de
                al menos 30 mil pemones, es también uno de los territorios más
                ricos en agua dulce de toda Venezuela: pasan por este estado más
                de una decena de ríos, de los cuales destaca el Orinoco, el
                cuarto más grande del mundo por caudal. A pesar de esto, apenas
                un 21% de los hogares de Bolívar cuenta con servicio de agua
                potable. Nuestro objetivo es promover la

                <span class="text-[#0cc0df]"> cultura del agua </span>
                <span
                    >en el estado, a fin de mejorar la calidad de vida de sus
                    habitantes.
                </span>
            </div>
        </div>
        <img
        src="https://www.fundacionaquae.org/wp-content/uploads/2020/02/Cual-es-la-calidad-del-agua.jpg"
        class="h-full w-full object-cover"
    />
    </div>
    
</Layout>

<style></style>
