---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tuna-Awainan-Nosotros">
    <div class="grid grid-cols-1 xl:grid-cols-2">
        <!-- Contenedor principal con una cuadrícula de una columna en pantallas pequeñas y dos columnas en pantallas extra grandes -->
        <div class="flex flex-col gap-4 items-center justify-center h-screen">
            <!-- Contenedor flexible con dirección de columna, espacio entre elementos, centrado y altura de pantalla completa -->
            <h1
                class="text-5xl leading-tight text-center font-extrabold text-[#0cc0df]"
            >
                SOBRE TUNA <br />AWAINAN
                <hr>
            </h1>
            <!-- Título principal con estilo de texto grande, negrita y color personalizado -->
            <div style="text-align: justify; " class="font-semibold px-20">
                <!-- Contenedor de texto con fuente seminegrita y padding horizontal -->
                Somos un proyecto dedicado a promover la cultura del agua en los estados Bolívar, Amazonas y Delta Amacuro. A través de nuestra plataforma, buscamos generar conciencia sobre la importancia del agua como recurso 
                vital y fomentar prácticas sostenibles. Nuestro objetivo es que 
                la población conozca a profundidad las características hídricas de nuestra región y se involucre en su cuidado.
                <hr class="my-4 border-t-2 border-gray-300 w-full invisible">
                <span class="text-[#0cc0df]"> Tuna Awainan </span> toma su nombre de una expresión indígena que evoca la profunda conexión entre las comunidades originarias y el agua. "Tuna" hace referencia a un elemento vital para la supervivencia y la cultura de estos pueblos, mientras que "Awainan" alude a un concepto más amplio que engloba el conocimiento ancestral y la sabiduría transmitida de generación en generación sobre el manejo sostenible de los recursos hídricos. A través de Tuna Awainan, 
                buscamos rescatar y difundir este valioso legado cultural, fomentando el respeto
                por el agua y la preservación de los ecosistemas acuáticos. 
                <hr class="my-4 border-t-2 border-gray-300 w-full invisible">
                El estado Bolívar, hogar de
                al menos 30 mil pemones, es también uno de los territorios más
                ricos en agua dulce de toda Venezuela: pasan por este estado más
                de una decena de ríos, de los cuales destaca el Orinoco, el
                tercer Rio más caudaloso mundo. A pesar de esto, apenas
                un 21% de los hogares de Bolívar cuenta con servicio de agua
                potable. 
                </span>
            </div>
        </div>
        <img
        src="https://media.canva.com/v2/image-resize/format:PNG/height:800/quality:100/uri:s3%3A%2F%2Fmedia-private.canva.com%2FLCXes%2FMAGSZULCXes%2F1%2Fp.png/watermark:F/width:533?csig=AAAAAAAAAAAAAAAAAAAAANkgNzkI8ccCiD4SnnSGBzVdWQbxqJWZu1wtXrvHFYzJ&exp=1730503774&osig=AAAAAAAAAAAAAAAAAAAAAHzg0YrWV55OxrmuhRSXikUH7wfKGbvJsXXRyn9KYdTl&signer=media-rpc&x-canva-quality=screen"
        class="h-full w-full object-cover"
    />
    </div>
    
</Layout>

<style></style>
