---
import ButtonLetter from "../components/diccionariComponents/ButtonLetter.astro";
import Item from "../components/diccionariComponents/Item.astro";
import ListItems from "../components/diccionariComponents/Item.astro";
import Content from "../components/diccionariComponents/Content.astro";
import Layout from "../layouts/Layout.astro";

const ANIMALS = [
    'gato1',
    'gato2',
    'gato3',
    'gato4'
]

const aquarium = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z']
const animals = ['alfonso palma ', 'maria garcia ','cristian bacze','carlos mendez']
---

<Layout title="Tuna Awainan: Acuario">
    <div class="Fauna">
        <div class="letras">
            {
                aquarium.map((lette)=>(
                    <ButtonLetter letter={lette}/>
                ))
            }
        </div>
    
        <div class='content'>
            <!--
            este es el renderizado de la lista de animales 
            <ListItems>
                    {
                        animals.map((animal)=>(
                            <Item name={animal}/>
                        ))
                    }
            </ListItems>
            -->
    
            <Content ></Content>
        </div>
    
        <div>
            <img src="../../src/assets/images/amazonas1.jpg" />
        </div>
    
    </div>
</Layout>



<style>
    .Fauna{
        width: 80%;
        height: 700px;
        background-color: white;
        display: grid;
        grid-template-columns: 15% 40% 45%;
    }
    .letras{
        width: 100%;
        font-weight: 800;
        margin: auto;
        margin-top:40px;
    }
    .titulo-letra{
        font-family: "Quicksand", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        font-size: 34px;
        text-decoration: underline;
        color:#0cc0df;
    }
    .content{
        width:70%;
        height: 80%;
        padding:80px 20px;
    }
    img{
        height: 100vh;
        position: fixed;
    }
</style>