---
import SidebarItem from "./SidebarItem.astro";
import { supabase } from "../../lib/supabase";
import '@fontsource-variable/quicksand';

const LINKS = [
    { label: 'Inicio', link: '/' },
    { label: 'Acuario', link: '/aquarium/' },
    { label: 'Artículos', link: '/categories' },
    { label: 'Foro', link: '/comunity/forum' },
    { label: 'Posts', link: '/comunity/posters' },
    { label: 'Nuestro equipo', link: '/about' },
    { label: 'Cuenta', link: '/signin' },
];

const currentPath = Astro.url.pathname;

const { cookies } = Astro;
const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

let userId;
if (accessToken && refreshToken) {
  let session = await supabase.auth.setSession({
    refresh_token: refreshToken.value,
    access_token: accessToken.value,
  });

  try {
    if (session.error) {
      Astro.cookies.delete("sb-access-token", { path: "/" });
      Astro.cookies.delete("sb-refresh-token", { path: "/" });
      return Astro.redirect("/signin");
    }
  } catch (error) {
    Astro.cookies.delete("sb-access-token", { path: "/" });
    Astro.cookies.delete("sb-refresh-token", { path: "/" });
    return Astro.redirect("/signin");
  }
  userId = session.data.user?.id;
}

---
<aside id="default-sidebar" class="sidebar">
  <div class="logo-sidebar">
    <img src="/src/assets/images/TUNA-awainan.png" class="logo-image" />
    <div class="text-left">
      <h1>Tuna <br /><span class="highlight">Awainan</span></h1>
    </div>
  </div>

  <div class="menu-sidebar">
    <ul class="menu-items">
      {LINKS.map((link, index) => (
        <li key={index}>
          <SidebarItem
            id="sidebar"
            link={link.link}
            label={link.label}
            onClick={() => toggleSidebar()}
            isActive={currentPath === link.link}
          />
        </li>
      ))}
    </ul>
  </div>
</aside>

<style>
  .sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 40;
    width: 16rem; 
    height: 100vh; 
    background-color: #f9fafb; 
    overflow: hidden; 
  }

  .logo-sidebar {
    flex: 0 0 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -4em;
    margin-bottom: -6em;
  }

  .logo-image {
    height: 20%;
  }

  h1 {
    font-family: 'Quicksand Variable', sans-serif;
    font-size: 2rem; 
    font-weight: 700;
  }

  .highlight {
    color: #0cc0df;
  }

  .menu-sidebar {
    flex: 1 1 60%; 
    overflow-y: auto; 
  }

  .menu-items {
    padding: 1rem 0.75rem;
    font-family: 'Quicksand Variable', sans-serif;
  }

  .menu-items li {
    margin-bottom: 0.5rem;
  }
</style>
