---
import SidebarItem from "./SidebarItem.astro"
import { supabase } from "../../lib/supabase";
// Supports weights 300-700
import '@fontsource-variable/quicksand';

const LINKS = [
    {
        label: 'Inicio',
        link: 'http://localhost:4321/'
    },
    {
        label: 'Acuario Natural',
        link: 'http://localhost:4321/aquarium/'
    },
    {
        label: 'Artículos del agua',
        link: 'http://localhost:4321/categories'
    }, 

    {
        label: 'Foro',
        link: 'http://localhost:4321/comunity/forum'
    },
    {
        label: 'Posts',
        link: 'http://localhost:4321/comunity/posters'
    },

    {      
        label: 'Nuestro equipo ',
        link: 'http://localhost:4321/about'  
    },
    {
        label: 'Cuenta',
        link: 'http://localhost:4321/signin'
    }
]

const {cookies} = Astro;
const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");
let userId;
if (accessToken && refreshToken) {
  let session = await supabase.auth.setSession({
    refresh_token: refreshToken.value,
    access_token: accessToken.value,
  });

  try {
    if (session.error) {
      Astro.cookies.delete("sb-access-token", {
        path: "/",
      });
      Astro.cookies.delete("sb-refresh-token", {
        path: "/",
      });
      return Astro.redirect("/signin");
    } 
  } catch (error) {
  // Si hay un error al establecer la sesión, borra las cookies y redirige a la página de inicio de sesión
  Astro.cookies.delete("sb-access-token", {
    path: "/",
  });
  Astro.cookies.delete("sb-refresh-token", {
    path: "/",
  });
  return Astro.redirect("/signin");
  }
  userId = session.data.user?.id;
}
---

<aside id="default-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform bg-gray-50 flex flex-col justify-center items-center -translate-x-full sm:translate-x-0" aria-label="Sidebar">
    
    <img src="/src/assets/images/TUNA-awainan.png"
    style="height: 20%;">
    
    <div class="text-left">
        <h1>Tuna <br/><span style="color: #0cc0df;">Awainan</span></h1>
    </div>
    <div class="w-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
        <ul class="space-y-2 font-medium">
            {LINKS.map((link, index) => (
                <li>
                    <SidebarItem id="sidebar" link={link.link} label={link.label} onClick={() => toggleSidebar()} />
                   
                </li>
            ))}
        </ul>
    </div>
 </aside>
 
<style>
    h1{
        font-family: 'Quicksand Variable', sans-serif;
        font-size: 48px;
        font-weight: 700;
    }
</style>
