---
import SidebarItem from "./SidebarItem.astro"
// Supports weights 300-700
import '@fontsource-variable/quicksand';

const LINKS = [
    {
        label: 'Inicio',
        link: '/'
    },
    {
        label: 'Acuario Natural',
        link: '/aquarium'
    },
    {
        label: 'Artículos del agua',
        link: '/categories'
    }, 

    {

        label:'Comunidad',
        link:'/comunity'

    },

    {
        label: 'Sobre Nosotros',
        link: '/about'  
    },
    {
        label:'Inicio de Sesión',
        link:'/signin'
    }
]
---

<aside id="default-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform bg-gray-50 flex flex-col justify-center items-center -translate-x-full sm:translate-x-0" aria-label="Sidebar">
    <div class="text-left">
        <h1>Tuna <br/><span>Awainan</span></h1>
    </div>
    <div class="w-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
       <ul class="space-y-2 font-medium">
          {LINKS.map((link) => (
              <SidebarItem link={link.link} label={link.label} />
          ))}
       </ul>
    </div>
 </aside>
 
<style>
    h1{
        font-family: 'Quicksand Variable', sans-serif;
        font-size: 48px;
        font-weight: 700;
    }
    span{
        font-weight: 200;
        color:#0cc0df
    }
</style>
 