---
const {page} = Astro.props
---
<script src="https://kit.fontawesome.com/d308b98942.js" crossorigin="anonymous"></script>
<a href={page} class="btn-back btn-back:hover ">
    <i class="fa-solid fa-arrow-left"></i>
  </a>

<style>
    .btn-back {
        @apply text-white font-medium rounded-lg text-sm px-5 py-2.5;
        background-color: rgb(10, 172, 203);
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        left: 1em;
        top: 2em;
        position: relative;
    }

    .btn-back:hover {
        background-color: #0aaccbd4;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
        transform: translateY(-2px);
    }
</style>
