---
import Separator from './Separator.astro'
import { supabase } from '../lib/supabase'

interface Props {
    user_id: {
        username: string
    }
    created_at: string
    content: string
}

const {user_id, created_at, content} = Astro.props
---

<article class="text-base rounded-lg dark:bg-gray-900 ">
    <footer class="flex items-center mb-2">
      <div class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
        <span class="font-semibold text-gray-600 dark:text-gray-300">
          {user_id?.username[0].toUpperCase()}
        </span>
      </div>
      <div class="ml-2">
        <h3 class="text-sm font-medium text-gray-900 dark:text-white">
          {user_id?.username}
        </h3>
        <div class="flex items-center text-xs text-gray-500 dark:text-gray-400">
          <time datetime="2021-03-10T14:30:00">
            {'por terminar'}
          </time>
        </div>
      </div>
    </footer>
    <p class="text-gray-800 mt-2 dark:text-gray-400">
      {content}
    </p>
    <Separator />
</article>

<style>
  article{
    background-color: #f8f9fa;
  }
</style>