---

const {name} = Astro.props;
---


<li>{name}</li>

<style>
    li{
        color: #0cc0df;
        font-size: 24px;
    }
    li:hover{
        text-decoration: underline;
        cursor:pointer;
    }
</style>