---
import Layout from "../../layouts/Layout.astro"
import LayoutAquarium from "../../layouts/LayoutAquarium.astro"
import '@fontsource-variable/quicksand';
---
<LayoutAquarium>
    <div class=" m-10 text-3xl ">
        <h2 class="p-5">¿Ya viste el Acuario?</h2>  
        <p>&emsp;&emsp;"Un pedacito de Venezuela en tu salón. <br>
            Descubre la increíble biodiversidad de la cuenca  <br>
            del Orinoco a través de nuestro acuario. <br>
            Cada pez cuenta una historia sobre la importancia de preservar <br>
            nuestros ecosistemas. ¡Acompáñanos en este viaje educativo y <br>
            contribuye a la conservación de esta joya natural!"</p>
    </div>
</LayoutAquarium>

<style>
    div{
        text-align: center;
        border-radius: 50px;
    }
    h2{
        font-size: 48px;
        color: #0cc0df;
        font-family: 'Quicksand Variable', sans-serif;
    }

</style>