---
import Layout from "../../layouts/Layout.astro"
import LayoutAquarium from "../../layouts/LayoutAquarium.astro"
---
<LayoutAquarium>
    <div>
        <h2></h2>  
        <p></p>
    </div>
</LayoutAquarium>

<style>
    div{
        width: 600px;
        height: 600px;
        margin: 80px auto;
        background-color: #aca9a9;
        text-align: center;
        border-radius: 50px;
    }
</style>